* {
    margin: 0px;
    padding: 0px;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.header-section {
    display: flex;
    background-color: #1f2937;
    color:white;
    justify-content: space-between; /* Pushes items to opposite ends */
    align-items: center; /* Aligns items vertically */
    padding: 20px; /* Adds some spacing */
    border-bottom: 2px solid #ffffff;
}

.header-section{
    font-size: xx-large;
    font-weight: bolder;
    padding-left: 90px;
    ul {
        display: flex;
        list-style-type:none;
        gap:30px;
        a{
            color:#e5e7eb;
            text-decoration:none;
            font-size:18px;
        }
        padding-right: 60px;
    }
}

.header-links a {
    cursor: pointer; /* Makes it look clickable */
}

.div2{
    display:flex;
    padding:80px 120px;
    background-color:#1f2937;
    align-items:center;
    .box{
        width: 400px;
        h2{
            color:#f9faf8;
            font-size:48px;
            margin-bottom:5px;
        }
        p{
            color:#e5e7eb;
            font-size:18px;
            margin-bottom:10px;
        }
        button{
            padding:4px;
        }
        margin-right:auto;
    }
    img {
        min-width: none;
    }
}

.div3 {
    background-color: #e5e7eb;
    display: flex;
    padding:80px 120px;
    flex-direction: column;
    align-items: center; 
    text-align: center;

    .content {
        padding:80px 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .info {
            display: flex;
            flex-direction: column;
            align-items: center; /* Center the box and text horizontally */
            justify-content: center; /* Center content vertically */
            margin: 0 20px; /* Optional: space between the info boxes */
            .box {
                width: 140px;
                height: 150px;
                border: 3px solid #3882f6;
                border-radius: 10%;
                margin-bottom: 10px; /* Adds space between box and text */
            }
        }
        .text {
            align-items: center;
        }
    }
}
